---
layout: default
---
<div class="cf">
  <h1 class="fw6 mb4 mt0">{{ page.title }}</h1>

  {% for post in site.tags[page.tag] %}
    {% unless post.draft %}
      <div class="mt4 cf w-100">
        <div class="w-25 mw5 fl">
          <a href="{{ post.url | relative_url }}">
            <img class="mw5 w-90 center bg-light-gray pa1" src="{{ post.thumbnail }}" />
          </a>
        </div>

        <div class="w-75 fl pl3">
          <h2 class="mt2 mb3">
            <a class="fw5 near-black" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          <div>
            {% for tag in post.tags %}
              {% capture tag_name %}{{ tag }}{% endcapture %}
              <a class="grow dib blue f6 fw6 br2 bg-light-blue ph2 pv1 mr1" href="/blog/tag/{{ tag_name }}">
                {{ tag_name }}
              </a>
            {% endfor %}
          </div>

          <p class="f6 fw6 moon-gray italic"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%d.%m.%Y" }}</time></p>
        </div>
      </div>
    {% endunless %}
  {% endfor %}

  {{ content }}


  <div class="mt3 cf w-100">
    <h2 class="fw5 mb3">Você pode se interessar também</h1>

    {% for post in site.posts %}
      {% if post.tags contains page.tag or post.draft %}
      {% else %}
        <div class="mt4 cf w-100">
          <div class="w-15 mw5 fl">
            <a href="{{ post.url | relative_url }}">
              <img class="mw5 w-90 center bg-light-gray pa1 br2" src="{{ post.thumbnail }}" />
            </a>
          </div>

          <div class="w-85 fl pl3">
            <h3 class="mt2 mb0 pb2">
              <a class="fw4 near-black" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>

            <div>
              {% for tag in post.tags %}
                {% capture tag_name %}{{ tag }}{% endcapture %}
                <a class="grow dib blue f7 fw6 br2 bg-light-blue ph2 pv1 mr1" href="/blog/tag/{{ tag_name }}">
                  {{ tag_name }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
